<% content_for :title do %>Mio Line - Actress<% end %>
<% content_for :description do %>Mio Line Actress<% end %>

<style>
.backgroundmainpage{
  background: url(hollywood-sign-mio.jpg) center center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: calc(100vh - 50px);
    text-align: center;
}
h1{
  font-size: 80px;
  margin-top: 0px;
  padding-top: 20px;
}
.socialmiddle {padding: 0px 15px;}
.smedia {color:#333; font-size:40px;}
.smedia:hover {color:#fff;}
h2{
  font-size: 40px;
  margin: 20px;
}
img{boder-radius:;}
</style>


<div class="top-wrapper">
 <div class="backgroundmainpage">
   <h1>Mio Line</h1>
   <p>Actress</p>

   <p><a href="https://www.instagram.com/mio.line"><i class="smedia fab fa-instagram"></i></a>
       <a href="https://twitter.com/miolinela"><i class="smedia socialmiddle fab fa-twitter-square"></i></a>
       <a href="https://youtube.com/channel/UCxbisGb0lcAzI8chlWDn0Lw"><i class="smedia fab fa-youtube-square"></i></a></p>
 </div>
</div>
<div id="about">
<h2>Profile</h2>
<div class="col-sm-6">
<img src="mio-headshot.jpg">
</div>
<div class="col-sm-6">
<p>right</p>
</div>
</div>
