<% content_for :title do %>Mio Line - Actress<% end %>
<% content_for :description do %>Mio Line Actress<% end %>

<style>
.container{
  background-image:url("hollywood-sign-mio.jpg");
  background-size:cover;
}
li{
  list-style:none;
}
.icon-list{
  display:flex;
}

</style>


<div class="top-wrapper">
 <div class="container">
   <div class="social-media-icon">
     <ul class="icon-list">
       <li><a href="#"><i class="fab fa-facebook-square"></i></a></li> 
       <li><a href="https://www.instagram.com/mio.line"><i class="fab fa-instagram"></i></a></li>
       <li><a href="https://twitter.com/miolinela"><i class="fab fa-twitter-square"></i></a></li>
       <li><a href="https://youtube.com/channel/UCxbisGb0lcAzI8chlWDn0Lw"><i class="fab fa-youtube-square"></i></a></li> 
     </ul>
   </div>
   <h1>MIO LINE</h1>
   <p>WELCOME TO MY WEBSITE</p>
 </div>
</div>
