<% content_for :title do %>Mio Line - Actress<% end %>
<% content_for :description do %>Mio Line Actress<% end %>

  <div class="column">
  <h1>Mio Line Actress</h1>

<p>Welcome to my website</p>
  </div>
